.icerikbt{
    width: 60%;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

@media screen and (max-width: 1024px) {
    .icerikbt{
        width: 90%;
    }
}