@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@800&display=swap');
/* font-family: 'Roboto Slab', serif; */

.hakkimda{
    margin: 20px 30px;
}

.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.icons{
    margin: 50px 0px;
    display: flex; 
    align-items: center;
    justify-content: center;
}
.icon{
    font-size: xx-large;
    transition: ease-in-out 0.1s;
    margin: 0 10px;
}
.icon:hover{
    color: orange;
    font-size: xx-large;
}
.hfirst{
    font-family: 'Roboto Slab', serif;
    font-size: 50px;
}

.typewriter h1 {
    font-family: 'Roboto Slab', serif;
    color: #c11e43;
    font-size: 30px;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(30, end),
      blink-caret .5s step-end infinite;
}
  
/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange }
}

@media screen and (max-width : 1024px){
    .icons{
        margin: 50px 0px 10px 0px;
    }
    .hfirst{
        font-size: 35px;
    }
    .typewriter h1{
        font-size: 20px;
    }
}

@media screen and (max-width : 300px){
    .hfirst{
        font-size: 30px;
    }
    .typewriter h1{
        font-size: 18px;
    }
}
